body {
  margin: 0;
}

.header-bg {
  background-color: #ffffff;
  box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
  -webkit-box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
  -moz-box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
}
